.sidebar-placeholder {
  width: 300px;
  height: 750px; /* full height */
  position: static;
  top: 114px;
  left: 40px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

  margin: 10px;
}
